{
    "taskDefinitionArn": "arn:aws:ecs:us-east-2:662095631010:task-definition/nexus-fyve-s-ace-v2-task-definition:1",
    "containerDefinitions": [
        {
            "name": "nexus-fyve-s-ace-v2-repo",
            "image": "662095631010.dkr.ecr.us-east-2.amazonaws.com/nexus-fyve-s-ace-v2-repo:latest",
            "repositoryCredentials": null,
            "cpu": 0,
            "memory": null,
            "memoryReservation": 3000,
            "links": [
                "elastic-search"
            ],
            "portMappings": [
                {
                    "containerPort": 8000,
                    "hostPort": 0,
                    "protocol": "tcp"
                }
            ],
            "essential": true,
            "entryPoint": null,
            "command": null,
            "environmentFiles": null,
            "mountPoints": [
                {
                    "sourceVolume": "api-ai-models-volume",
                    "containerPath": "/app/api/models",
                    "readOnly": false
                }
            ],
            "volumesFrom": [],
            "linuxParameters": null,
            "secrets": null,
            "dependsOn": [
                {
                    "containerName": "elastic-search",
                    "condition": "START"
                }
            ],
            "startTimeout": null,
            "stopTimeout": null,
            "hostname": null,
            "user": null,
            "workingDirectory": null,
            "disableNetworking": null,
            "privileged": null,
            "readonlyRootFilesystem": null,
            "dnsServers": null,
            "dnsSearchDomains": null,
            "extraHosts": null,
            "dockerSecurityOptions": null,
            "interactive": null,
            "pseudoTerminal": null,
            "dockerLabels": null,
            "ulimits": null,
            "logConfiguration": null,
            "healthCheck": null,
            "systemControls": null,
            "resourceRequirements": [
                {
                    "value": "1",
                    "type": "GPU"
                }
            ],
            "firelensConfiguration": null
        },
        {
            "name": "elastic-search",
            "image": "662095631010.dkr.ecr.us-east-2.amazonaws.com/elastic-search:7.17.6",
            "repositoryCredentials": null,
            "cpu": 0,
            "memory": null,
            "memoryReservation": 3000,
            "links": null,
            "portMappings": [
                {
                    "containerPort": 9200,
                    "hostPort": 0,
                    "protocol": "tcp"
                }
            ],
            "essential": true,
            "entryPoint": null,
            "command": null,
            "environmentFiles": null,
            "mountPoints": [
                {
                    "sourceVolume": "elastic-search-volume",
                    "containerPath": "/usr/share/elasticsearch/data",
                    "readOnly": false
                }
            ],
            "volumesFrom": [],
            "linuxParameters": null,
            "secrets": null,
            "dependsOn": null,
            "startTimeout": null,
            "stopTimeout": null,
            "hostname": null,
            "user": null,
            "workingDirectory": null,
            "disableNetworking": null,
            "privileged": null,
            "readonlyRootFilesystem": null,
            "dnsServers": null,
            "dnsSearchDomains": null,
            "extraHosts": null,
            "dockerSecurityOptions": null,
            "interactive": null,
            "pseudoTerminal": null,
            "dockerLabels": null,
            "ulimits": null,
            "logConfiguration": null,
            "healthCheck": null,
            "systemControls": null,
            "resourceRequirements": null,
            "firelensConfiguration": null
        }
    ],
    "family": "nexus-fyve-s-ace-v2-task-definition",
    "taskRoleArn": null,
    "executionRoleArn": null,
    "networkMode": null,
    "revision": 1,
    "volumes": [
        {
            "name": "elastic-search-volume",
            "host": null,
            "dockerVolumeConfiguration": {
                "scope": "shared",
                "autoprovision": true,
                "driver": "local",
                "driverOpts": null,
                "labels": null
            },
            "efsVolumeConfiguration": null
        },
        {
            "name": "api-ai-models-volume",
            "host": null,
            "dockerVolumeConfiguration": {
                "scope": "shared",
                "autoprovision": true,
                "driver": "local",
                "driverOpts": null,
                "labels": null
            },
            "efsVolumeConfiguration": null
        }
    ],
    "status": "ACTIVE",
    "requiresAttributes": [
        {
            "name": "com.amazonaws.ecs.capability.ecr-auth",
            "value": null,
            "targetType": null,
            "targetId": null
        },
        {
            "name": "com.amazonaws.ecs.capability.docker-remote-api.1.21",
            "value": null,
            "targetType": null,
            "targetId": null
        },
        {
            "name": "ecs.capability.docker-plugin.local",
            "value": null,
            "targetType": null,
            "targetId": null
        },
        {
            "name": "ecs.capability.container-ordering",
            "value": null,
            "targetType": null,
            "targetId": null
        },
        {
            "name": "com.amazonaws.ecs.capability.docker-remote-api.1.25",
            "value": null,
            "targetType": null,
            "targetId": null
        }
    ],
    "placementConstraints": [],
    "compatibilities": [
        "EXTERNAL",
        "EC2"
    ],
    "requiresCompatibilities": [
        "EC2"
    ],
    "cpu": null,
    "memory": null,
    "inferenceAccelerators": null,
    "pidMode": null,
    "ipcMode": null,
    "proxyConfiguration": null
}